{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Application{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar">
      <h4>Menu</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'income_page' %}"> Income Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'choose_budget' %}"> Budget Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_expense' %}">Add Expense</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search_expense' %}"> Search Expense </a>
        </li>
        <!-- Add more links here -->
      </ul>
    </div>

    <!-- Main Content -->
    <main class="content">{% block content %} {% endblock %}</main>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>