{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mt-4">
  <h1 class="mb-4 text-center">Budget Dashboard</h1>


  <div class="card p-3 mb-4">
    <h2 class="text-center">Budget Overview</h2>

    <div class="row">
      
        {% for category, data in budget_overview.items %}
        <div class="col-md-3 mb-3">
            <div class="card p-2 text-center
                      {% if data.spent > data.allowed %}
                        bg-danger text-white
                      {% else %}
                        bg-success text-white
                      {% endif %}
            ">
              <p>
                <strong>{{category}}</strong><br>
                Allowed: ${{ data.allowed|floatformat:2 }}<br>
                Spent: ${{ data.spent|floatformat:2 }}
              </p>
        </div>
      </div>
      {% endfor %}
    </div>
     <div class="mt-3 text-center">
        <p><strong>Total Expenses:</strong> ${{ total_expenses|floatformat:2 }}</p>
        <p><strong>Total Income:</strong> ${{ total_monthly_income|floatformat:2 }}</p>
    </div>

    

  </div>

  <h2 class="mb-3 text-center">Expenses</h2>

  <div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Frequency</th>
      <th>Action</th>
    </tr>
    </thead>

    {% for expense in expenses %}
    <tr>
      <td>{{ expense.expense_name }}</td>
      <td>{{ expense.expense_type }}</td>
      <td>${{ expense.amount }}</td>
      <td>{{ expense.date }}</td>
      <td>{{ expense.frequency }}</td>
      <td>
          <button class="btn btn-primary btn-sm" onclick="toggleEdit({{ expense.id }})">Edit</button>
          <!-- <button onclick="toggleEdit({{ expense.id }})">Delete</button> -->
      </td>
      <!-- <td>
          <a href="{% url 'edit_expense' expense.id expenses.number %}">Edit</a>
      </td> -->

    </tr>
      <!-- Hidden Edit Row -->
      <tr id="edit-row-{{ expense.id }}" style="display: none;">
          <td colspan="6" class="text-center">
              <form method="POST" action="{% url 'edit_expense' expense.id expenses.number %}" class="mb-2">
                  {% csrf_token %}
                  <p class="text-center mb-2"><strong>Name</strong></p>
                  <input type="text" name="expense_name" value="{{ expense.expense_name }}" class="form-control input_uniform">

                  <p class="text-center mb-2"><strong>Type</strong></p>
                  <input type="text" name="expense_type" value="{{ expense.expense_type }}" class="form-control input_uniform">

                  <p class="text-center mb-2"><strong>Amount</strong></p>
                  <input type="number" name="amount" value="{{ expense.amount }}" class="form-control input_uniform">

                  <p class="text-center mb-2"><strong>Date</strong></p>
                  <input type="date" name="date" value="{{ expense.date|date:'Y-m-d' }}" class="form-control input_uniform">

                  <p class="text-center mb-2"><strong>Frequency</strong></p>
                  <input type="text" name="frequency" value="{{ expense.frequency }}" class="form-control input_uniform">

                  <button type="submit" class="btn btn-success btn-sm">Save</button>
              </form>
              <form method="POST" class="d-inline" action="{% url 'delete_expense' expense.id expenses.number %}">
                  {% csrf_token %}
                  <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
              </form>
              
          </td>
      </tr>
      {% empty %}
      <tr>
          <td colspan="6">No expenses added yet.</td>
      </tr>
    {% endfor %}
  </table>

</div>

<!-- ============================= -->
<!-- Pagination -->
<!-- ============================= -->
<nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">

    {% if expenses.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ expenses.previous_page_number }}">
      Previous
      </a>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <span class="page-link">
        Page {{ expenses.number }} of {{ expenses.paginator.num_pages }}
      </span>
    </li>

    {% if expenses.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ expenses.next_page_number }}">
        Next
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

</div>

<script>

function toggleEdit(id) {
    const row = document.getElementById("edit-row-" + id);
    if (row.style.display === "none") {
        row.style.display = "table-row";
    } else {
        row.style.display = "none";
    }
}
</script>

{% endblock %}