{% extends 'base.html' %}
{% block title %}Income Overview{% endblock %}

{% block content %}
<div class="container mt-4">
<h1 class="mb-4 text-center">Income Overview</h1>
<div class="mb-3r">
    <div class="card bg-light p-2 text-center">
        <h5><strong>Total Monthly Income:</strong> ${{ total_income|floatformat:2 }}</h5>
    </div>
</div>



<h2 class="mb-4 text-center">All Income</h2>
<div class="mb-3 text-center">
    <button class="btn btn-primary btn-sm" onclick="toggleNew()">New Income</button>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
  <tr>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Frequency</th>
    <th>Action</th>
  </tr>
  </thead>

  <!-- Hidden Add Row -->
    <tr id="add_row"style="display: none;">
        <td colspan="6">
            <form method="POST" action="{% url 'add_income' %}" class="mb-2">
                {% csrf_token %}
                <p class="text-center mb-2"><strong>Name</strong></p>
                <input type="text" name="income_name" class="form-control input_uniform" required>

                <p class="text-center mb-2"><strong>Amount</strong></p>
                <input type="number" name="amount" step="0.01" class="form-control input_uniform" required>

                <p class="text-center mb-2"><strong>Date</strong></p>
                <input type="date" name="date" class="form-control input_uniform" required>

                <p class="text-center mb-2"><strong>Frequency</strong></p>

                <select name="frequency" class="form-control form-control-sm input_uniform" required>
                    {% for value, label in frequencyTypes %}
                    <option value="{{ value }}" {% if value == "ONE" %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-sm">Add Income</button>
                </div>
            </form>
            <form>
                <button type="button" class="btn btn-danger btn-sm" onclick="toggleNew()">Cancel</button>
            </form>
        </td>
    </tr>

  {% for income in incomes %}
  <tr>
    <td>{{ income.income_name }}</td>
    <td>{{ income.amount }}</td>
    <td>{{ income.date }}</td>
    <td>{{ income.frequency }}</td>
    <td>
        <button class="btn btn-primary btn-sm" onclick="toggleEdit({{ income.id }})">Edit</button>
    </td>
    </tr>

    <!-- Hidden Edit Row -->
    <tr id="edit-row-{{ income.id }}" style="display: none;">
        <td colspan="6" class="text-center">
            <form method="POST" action="{% url 'edit_income' income.id incomes.number %}" class="width">
                {% csrf_token %}

                <p class="text-center mb-2"><strong>Name</strong></p>
                <input type="text" name="income_name" value="{{ income.income_name }}" class="form-control input_uniform">

                <p class="text-center mb-2"><strong>Amount</strong></p>
                <input type="number" name="amount" value="{{ income.amount }}" step="0.01" class="form-control input_uniform">

                <p class="text-center mb-2"><strong>Date</strong></p>
                <input type="date" name="date" value="{{ income.date|date:'Y-m-d' }}" class="form-control input_uniform">

                <p class="text-center mb-2"><strong>Frequency</strong></p>
                <select id="frequency" name="frequency" class="form-control input_uniform">
                    {% for value, label in frequencyTypes %}
                    <option value="{{ value }}" {% if value == income.frequency %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-sm ">Save</button>
            </form>
            <form method="POST" action="{% url 'delete_income' income.id incomes.number %}" class="d-inline ">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Delete</button>
            </form>
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="5">No expenses added yet.</td>
    </tr>
  {% endfor %}
</table>

<!-- ============================= -->
<!-- Pagination -->
<!-- ============================= -->
<nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">

    {% if incomes.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ incomes.previous_page_number }}">
      Previous
      </a>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <span class="page-link">
        Page {{ incomes.number }} of {{ incomes.paginator.num_pages }}
      </span>
    </li>

    {% if incomes.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ incomes.next_page_number }}">
        Next
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

</div>

<script>
function toggleEdit(id) {
    const row = document.getElementById("edit-row-" + id);
    if (row.style.display === "none") {
        row.style.display = "table-row";
    } else {
        row.style.display = "none";
    }
}

function toggleNew() {
    const row = document.getElementById("add_row");
    if (row.style.display === "none") {
        row.style.display = "table-row";
    } else {
        row.style.display = "none";
    }
}
</script>
{% endblock %}