{% extends 'base.html' %}
{% block title %}Custom Budget Overview{% endblock %}

{% block content %}

<div class="container mt-4">
<h2 class="mb-4 text-center">Custom Budget</h2>

<div class="card p-3 mb-4 text-center">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center">
        <button class="btn btn-primary btn-sm" type="submit">Save Budget</button>
    </div>
</form>
</div>

{% if error_message %}
<p><bold>{{ error_message }}</bold></p>
{% endif %}

</div>
{% endblock %}